{%- comment -%}
  Renders the Contact tab panel

  Accepts:
  - section_id: {String} Section ID for unique form identifiers

  Usage:
  {% render 'contact-tab-newsletter', section_id: section.id %}
{%- endcomment -%}

<div class="contact__tab-panel active" id="tab-newsletter">
  {% comment %}
    <h2 class="contact__tab-heading">THIRSTY FOR MORE?</h2>
    <div class="contact__tab-textbox">
      <p>
        Stay connected with Long Point Brewing Co and be the first to know when the doors will swing open by signing up to
        our mailing list below.
      </p>
    </div>
  {% endcomment %}

  <div id="CONTACTA_68ef025831c91dada4cfd525"></div>
  <script type="text/javascript" async>
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = 'https://forms.contacta.io/68ef025831c91dada4cfd525.js';
    document.getElementsByTagName('head')[0].appendChild(script);
  </script>
</div>
