{%- comment -%}
  Renders the Functions tab panel

  Accepts:
  - section_id: {String} Section ID for unique form identifiers

  Usage:
  {% render 'contact-tab-functions', section_id: section.id %}
{%- endcomment -%}

<div class="contact__tab-panel" id="tab-functions">
  <h2 class="contact__tab-heading">Functions</h2>
  <div class="contact__tab-textbox">
    <p>Looking to host an event? Get in touch about our function spaces and catering options.</p>
  </div>

  <div id="CONTACTA_68f093aae30fc3d1718a7ffb"></div>
  <script type="text/javascript" async>
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = 'https://forms.contacta.io/68f093aae30fc3d1718a7ffb.js';
    document.getElementsByTagName('head')[0].appendChild(script);
  </script>
</div>
