// Header component styles
// This will be used in main.scss

// Use setup to get variables (setup forwards variables, so they're loaded once)
@use '../setup' as *;

.header {
  @media (max-width: $breakpoint-mobile) {
    padding: 1rem 2rem !important;
  }

  .header__icon {
    .svg-wrapper {

      @media (max-width: $breakpoint-mobile) {
        width: 4.2rem;
        height: 4.2rem;

        .icon {
          width: 4.2rem;
          height: 4.2rem;


          &.icon-search {
            width: 2.2rem;
            height: 2.2rem;
          }
        }
      }
    }
  }

  .header__submenu {
    border-color: transparent;

    li {
      a {
        color: $color-night-sky;
      }
    }
  }
}