@use '../setup' as *;
@use '../base' as *;

#product-grid,
.product-grid,
.featured-products__grid {
  gap: 3.2rem !important;
  grid-template-columns: repeat(3, 1fr);
  display: grid;

  @media (max-width: $breakpoint-tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $breakpoint-mobile) {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid__item {
    width: 100%;
    max-width: 100%;
  }
}



.product-card-wrapper {
  .product-card {
    text-align: center;
    color: white;

    .product-card__image-wrapper {
      padding: 4rem 1.2rem 2.4rem;
      aspect-ratio: 10/12;
      position: relative;

      .product-card__background-graphic {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;


        img {
          width: 80%;
          height: 80%;
          object-fit: contain;
          object-position: center;
        }
      }
    }

    a.product-card__image-link {
      z-index: 2;
      position: relative;
      width: 100%;
      height: 100%;

      img {
        height: auto;
        width: 100%;
        max-width: 80%;
        object-position: center;
        object-fit: contain;
        display: block;
        margin: 0 auto;
      }
    }

    .product-card__content {
      padding: 2rem 2rem 4rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;

      .product-card__title {
        color: white;
        @include fs_32;
        text-transform: uppercase;
        line-height: 1.2;
        letter-spacing: -0.06rem;
        margin-bottom: 1.6rem;

        a {
          color: white;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .product-card__price {
        .price {
          @include fs_18;
          margin-bottom: 1.5rem;
          color: white;
          text-transform: uppercase;
        }
      }

      .product-card__button {

        a {
          min-width: 100%;
          background-color: #FBAE47;
          color: $color-night-sky;
          box-sizing: border-box;



          &:hover {
            background-color: white;
            color: $color-night-sky;
          }
        }
      }
    }
  }
}