.search-modal {

  .search-modal__content {


    button.search__button {
      min-width: 4.5rem;
      min-height: 4.5rem;
    }
  }

  button.modal__close-button.link {
    min-width: 4.5rem;
    min-height: 4.5rem;
  }


}