@use '../setup' as *;
@use '../base' as *;

.age-verification-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  .age-verification-bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  .age-verification-content {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 52rem;
    background-color: #6FBAAE;
    text-align: center;
    color: white;
    padding: 3.2rem;
    width: 90%;

    @media (max-width: $breakpoint-mobile) {
      padding: 2.4rem;
    }

    .age-verification-content-inner {
      position: relative;
      z-index: 2;
      padding: 5rem 2.4rem;
      background-color: #6FBAAE;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3.2rem;

      @media (max-width: $breakpoint-mobile) {
        padding: 2rem;
      }

      .age-verification-logo {
        display: flex;

        .age-verification-logo-image {
          width: 100%;
          height: 100%;
          max-width: 30rem;
          object-fit: contain;
        }
      }



      .age-verification-text {
        @include fs_24;
        text-transform: uppercase;

        p {
          margin: 0px;
        }
      }

      .age-verification-subtext {
        @include fs_18;
        color: white;
        font-weight: 300;

        p {
          margin: 0px;
        }
      }

      .age-verification-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
      }
    }
  }
}