@use '../setup' as *;
@use '../base' as *;

.all-events-section {

  .upcoming-events__card {
    margin-bottom: 7rem;
  }

  .all-events__heading {
    @include heading_h4;
    margin-bottom: 3.2rem;

    @media (max-width: $breakpoint-tablet) {
      margin-bottom: 2.4rem;
    }

    @media (max-width: $breakpoint-mobile) {
      margin-bottom: 2rem;
    }
  }
}

.all-events__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;

  @media (max-width: $breakpoint-tablet) {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;
  }

  @media (max-width: $breakpoint-mobile) {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.6rem;
  }

  .events-grid-card {
    display: flex;
    flex-direction: column;
    background: #B6DFE9;

    &:hover {
      .events-grid-card__image {
        img {
          transform: scale(1.05);
        }
      }
    }

    .events-grid-card__image {
      overflow: hidden;
      aspect-ratio: 1/0.75;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.3s ease-in-out;
      }
    }

    .events-grid-card__content {
      padding: 2.4rem;
      color: #373737;
      position: relative;

      .events-grid-card__title {
        @include heading_h6;
        margin-bottom: 0.2rem;
        line-height: 1.12;
        letter-spacing: -0.06rem;
        color: #373737;

      }

      .events-grid-card__dates {
        @include fs_24;
        margin-bottom: 1.6rem;
        text-transform: uppercase;
        color: inherit;

      }

      .events-grid-card__button {
        margin-top: 0.5em;
        transform: rotate(2deg);
        margin-bottom: 0.5em;
      }

      .graphic {
        position: absolute;
        right: 0px;
        bottom: 0px;
        width: 30%;
        object-fit: contain;
        object-position: bottom right;
        height: 100%;

      }

    }




  }
}