@use '../setup' as *;
@use '../base' as *;

.call-to-action__card {
  width: 100%;
  display: flex;

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column-reverse;
  }

  .call-to-action__image {
    width: 40%;
    max-width: 55rem;
    aspect-ratio: 1/1;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @media (max-width: $breakpoint-mobile) {
      width: 100%;
      max-width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .call-to-action__image-overlay {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .call-to-action__content {
    padding: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-grow: 1;

    @media (max-width: $breakpoint-tablet) {
      padding: 4rem;
    }

    @media (max-width: $breakpoint-mobile) {
      padding: 1.5rem;
    }



    // Icon positioning classes (similar to upcoming-events)
    .icon-top-left {
      position: absolute;
      top: 0;
      left: 0;
      width: 10rem;
      height: 10rem;
      object-fit: cover;
      z-index: 1;

      @media (max-width: $breakpoint-mobile) {
        width: 4rem;
        height: 4rem;
      }
    }

    .icon-middle-left {
      position: absolute;
      top: 50%;
      left: 0;
      width: 10rem;
      height: 10rem;
      object-fit: cover;
      z-index: 1;
      transform: translateY(-50%);

      @media (max-width: $breakpoint-mobile) {
        width: 4rem;
        height: 4rem;
      }
    }

    .icon-bottom-left {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 9rem;
      height: 9rem;
      object-fit: cover;
      z-index: 1;

      @media (max-width: $breakpoint-mobile) {
        width: 4rem;
        height: 4rem;
      }
    }

    .icon-bottom-center {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 12rem;
      height: 12rem;
      object-fit: cover;
      z-index: 1;

      @media (max-width: $breakpoint-mobile) {
        width: 5rem;
        height: 5rem;
      }
    }

    .icon-bottom-right {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 10rem;
      height: 15rem;
      object-fit: cover;
      z-index: 1;

      @media (max-width: $breakpoint-mobile) {
        width: 4rem;
        height: 5rem;
      }
    }

    .icon-moddle-right {
      position: absolute;
      top: 30%;
      right: 0;
      width: 15rem;
      height: 15rem;
      object-fit: cover;
      z-index: 1;
      transform: translateY(-50%);

      @media (max-width: $breakpoint-mobile) {
        width: 5em;
        height: 5rem;
      }
    }

    .icon-top-center {
      position: absolute;
      top: 0;
      left: 50%;
      width: 10rem;
      height: 10rem;
      object-fit: cover;
      z-index: 1;

      @media (max-width: $breakpoint-mobile) {
        width: 4rem;
        height: 4rem;
      }
    }


    .call-to-action__content-inner {
      position: relative;
      z-index: 2;
      padding: 4rem;
      color: var(--text-color);
      flex-grow: 1;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media (max-width: $breakpoint-mobile) {
        padding: 2rem;
      }

      .call-to-action__title {
        font-size: 5.2rem;
        line-height: 1.1em;
        margin-bottom: 2rem;
        color: var(--text-color);
        max-width: 80%;

        @media (max-width: $breakpoint-tablet) {
          font-size: 4.2rem;
        }

        @media (max-width: $breakpoint-mobile) {
          font-size: 3rem;
        }
      }

      .call-to-action__textbox {
        @include fs_20;
        margin-bottom: 2rem;
        color: var(--text-color);

        @media (max-width: $breakpoint-mobile) {
          margin-bottom: 1.5rem;
        }

        p {
          color: var(--text-color);

        }
      }

      .call-to-action__button {
        margin-top: 2rem;

        @media (max-width: $breakpoint-mobile) {
          margin-top: 1.5rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}