@use '../setup' as *;
@use '../base' as *;

.image-with-text-section {
  position: relative;
  overflow: hidden;


  .image-with-text__content {
    display: flex;
    align-items: stretch;
    justify-content: center;
    position: relative;
    z-index: 2;
    gap: 8rem;

    @media (max-width: $breakpoint-tablet) {
      gap: 4rem;
    }

    @media (max-width: $breakpoint-mobile) {
      flex-direction: column;
      gap: 3rem;
    }

    .image-with-text__image-block {
      position: relative;
      max-width: 50%;
      display: flex;

      @media (max-width: $breakpoint-mobile) {
        max-width: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      .image-with-text__image-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }

    .image-with-text__content-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2.4rem;
      max-width: 50%;

      @media (max-width: $breakpoint-mobile) {
        max-width: 100%;
      }

      .image-with-text__title {
        @include heading_h3;
      }

      .image-with-text__textbox {
        @include fs_24;
        line-height: 1.2em;

        span,
        a,
        b,
        strong,
        em {
          color: var(--accent-color);
        }
      }

      .image-with-text__list-item {
        display: flex;
        gap: 1.6rem;
        margin-bottom: 0.5em;


        .image-with-text__list-item-icon {
          width: 3.2rem;
          height: 3.2rem;
          flex-shrink: 0;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
          }
        }

        .image-with-text__list-item-content {
          display: flex;
          flex-direction: column;
          gap: 0.8rem;

          .image-with-text__list-item-title {
            @include heading_h6;
            line-height: 1.2;
            color: #333333;
            text-transform: capitalize;
          }


          .image-with-text__list-item-textbox {
            line-height: 1.2;
            @include fs_24;
          }
        }
      }

      .image-with-text__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 2.4rem;
        justify-content: flex-start;
        align-items: center;
      }
    }
  }

  .image-with-text__image-top-left {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 15rem;
    max-width: 15rem;
    z-index: 1;

    @media (max-width: $breakpoint-tablet) {
      max-height: 10rem;
      max-width: 10rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left;
    }
  }

  .image-with-text__image-top-right {
    position: absolute;
    top: 0;
    right: 0;
    max-height: 15rem;
    max-width: 15rem;
    z-index: 1;

    @media (max-width: $breakpoint-tablet) {
      max-height: 10rem;
      max-width: 10rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: right;
    }
  }

  .image-with-text__image-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    max-height: 15rem;
    max-width: 15rem;
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left;
    }
  }

  .image-with-text__image-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    max-height: 20rem;
    max-width: 20rem;
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: right;
    }
  }
}

.no-image.image-with-text-section {

  .image-with-text__content {
    .image-with-text__content-inner {
      display: flex;
      max-width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .image-with-text__title {
      width: 100%;
      text-align: center;
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 4rem;
    }

    .image-with-text__list-item {
      width: calc(50% - 48px);
    }

    @media only screen and (max-width: 767px) {
      .image-with-text__list-item {
        width: 100%;
      }
    }
  }

}