@use '../setup' as *;
@use '../base' as *;

.landing-banner {
  .landing-banner__inner {
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
    }

    .landing-banner__content {
      padding: 4rem;
      position: relative;
      z-index: 2;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 500px;
      color: white;

      @media (max-width: $breakpoint-mobile) {
        min-height: 350px;
      }

      .landing-banner__title {
        @include heading_h3;
        text-transform: uppercase;
        line-height: 1.1em;
        color: inherit;
      }

      .landing-banner__button {
        align-self: flex-end;

        a.button {
          transform: rotate(-3deg);
        }
      }
    }
  }
}