// Base styles
// This will compile to assets/base.css

// Use setup to get variables (setup forwards variables, so they're loaded once)
@use 'setup' as *;

// You can import existing CSS or write new SCSS
// For example, you can start converting base.css to SCSS here


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-narrow;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 400;
}


@mixin heading_h1 {
  font-size: 12.7rem;
  text-transform: uppercase;
  line-height: 1.2em;

  @media (max-width: $breakpoint-tablet) {
    font-size: 9.2rem;
    line-height: 1.2em;
  }

  @media (max-width: $breakpoint-mobile) {
    font-size: 7.4rem;
    line-height: 1.2em;
  }

  @media (max-width: $breakpoint-xs) {
    font-size: 5rem;
    line-height: 1.2em;
  }
}

@mixin heading_h2 {
  font-size: 9.2rem;
  text-transform: uppercase;
  line-height: 1.2em;

  @media (max-width: $breakpoint-tablet) {
    font-size: 6.2rem;
    line-height: 1.2em;
  }

  @media (max-width: $breakpoint-mobile) {
    font-size: 4.4rem;
    line-height: 1.2em;
  }

  @media (max-width: $breakpoint-xs) {
    font-size: 3.6rem;
    line-height: 1.2em;
  }
}

@mixin heading_h3 {
  font-size: 7.2rem;
  text-transform: uppercase;
  line-height: 1.3em;

  @media (max-width: $breakpoint-tablet) {
    font-size: 5.2rem;
    line-height: 1.3em;
  }

  @media (max-width: $breakpoint-mobile) {
    font-size: 3.8rem;
    line-height: 1.3em;
  }
}

@mixin heading_h4 {
  font-size: 6.4rem;
  line-height: 1.3em;

  @media (max-width: $breakpoint-tablet) {
    font-size: 4.4rem;
    line-height: 1.3em;
  }

  @media (max-width: $breakpoint-mobile) {
    font-size: 3.2rem;
    line-height: 1.3em;
  }
}

@mixin heading_h5 {
  font-size: 3.6rem;
  line-height: 1.4em;

  @media (max-width: $breakpoint-tablet) {
    font-size: 2.8rem;
    line-height: 1.4em;
  }

  @media (max-width: $breakpoint-mobile) {
    font-size: 2.4em;
    line-height: 1.4em;
  }
}

@mixin heading_h6 {
  font-size: 3.2rem;
  line-height: 1.5em;

  @media (max-width: $breakpoint-tablet) {
    font-size: 3.2rem;
    line-height: 1.5em;
  }

  @media (max-width: $breakpoint-mobile) {
    font-size: 2.4em;
    line-height: 1.5em;
  }
}

@mixin fs_32 {
  font-size: 3.2rem;
  line-height: 1.35em;

  @media (max-width: $breakpoint-tablet) {
    font-size: 2.4rem;
    line-height: 1.35em;
  }

  @media (max-width: $breakpoint-mobile) {
    font-size: 2rem;
    line-height: 1.35em;
  }
}

@mixin fs_30 {
  font-size: 3rem;
  line-height: 1.35em;

  @media (max-width: $breakpoint-tablet) {
    font-size: 2.4rem;
    line-height: 1.35em;
  }

  @media (max-width: $breakpoint-mobile) {
    font-size: 2rem;
    line-height: 1.35em;
  }
}

@mixin fs_24 {
  font-size: 2.4rem;
  line-height: 1.5;

  @media (max-width: $breakpoint-tablet) {
    font-size: 2rem;
    line-height: 1.5;
  }

  @media (max-width: $breakpoint-mobile) {
    font-size: 1.8rem;
  }
}

@mixin fs_20 {
  font-size: 2rem;
  line-height: 1.35em;

  @media (max-width: $breakpoint-mobile) {
    font-size: 1.6rem;
  }
}

@mixin fs_18 {
  font-size: 1.8rem;
  line-height: 1.5;

  @media (max-width: $breakpoint-mobile) {
    font-size: 1.6rem;
    line-height: 1.5;
  }
}

@mixin fs_14 {
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 400;

  @media (max-width: $breakpoint-mobile) {
    font-size: 1.2rem;
  }
}

@mixin fs_12 {
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 400;

  @media (max-width: $breakpoint-mobile) {
    font-size: 1rem;
  }
}



h1,
.heading_h1 {
  @include heading_h1;
}

h2,
.heading_h2 {
  @include heading_h2;
}

h3,
.heading_h3 {
  @include heading_h3;
}

h4,
.heading_h4 {
  @include heading_h4;
}

h5,
.heading_h5 {
  @include heading_h5;
}

h6,
.heading_h6 {
  @include heading_h6;
}

.fs_30 {
  @include fs_30;
}

.fs_24 {
  @include fs_24;
}

.fs_18 {
  @include fs_18;
}

.fs_14 {
  @include fs_14;
}

.fs_12 {
  @include fs_12;
}

#MainContent {
  margin-top: -103px;
}

.text-bg {
  color: white;
  background-color: #F9AD8E;
  padding: 0 0.1em;

  &.blue {
    background-color: #B6DFE9;
  }

  &.green {
    background-color: #53BCAE;
  }

  &.orange {
    background-color: #FAAC47;
  }
}