// Utility classes

// Use setup to get variables (setup forwards variables, so they're loaded once)
@use 'setup' as *;

// Example utility classes
.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: $spacing-sm;
}

.mt-2 {
  margin-top: $spacing-md;
}